magacin.dtd

<!ELEMENT magacin (Artikal+)>
<!ELEMENT Artikal (naziv,datumIzrade+,cena,kompanija+,emailProdavca)>
<!ELEMENT naziv(#PCDATA)>
<!ELEMENT cena (#PCDATA)>
<!ELEMENT emailProdavca (#PCDATA)>

<!ELEMENT datumIzrade (dan,mesec,godina+)>
<!ELEMENT dan (#PCDATA)>
<!ELEMENT mesec (#PCDATA)>
<!ELEMENT godina (#PCDATA)>

<!ELEMENT kompanija (ime,adresa)>
<!ELEMENT ime (#PCDATA)>
<!ELEMENT adresa (#PCDATA)>
